$breakpoints: 
(
    mobile: 600px
);

@mixin mobile-only
{
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
};

.header
{
    &__logo
    {
        height: 50px;
        @include mobile-only
        {
            height: 30px;
        }
        object-fit: contain;
        width: 100%;
        margin: 1rem 0;
    }
}