// Variables

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$lightgray-color: #F6F6F6;
$white-color: #fff;
$gray-color: darken($lightgray-color, 5%);
$darkgray-color: darken($lightgray-color, 71%);

// Maps

$breakpoints: 
(
    mobile: 600px,
    tablet: 1200px
);

$font-size-list:
(
    mobile:
    (
        section-heading: 24px,
        card-heading: 18px,
        text: 16px,
    ),
    tablet:
    (
        section-heading: 24px,
        card-heading: 18px,
        text: 16px,
    ),
    desktop:
    (
        section-heading: 28px,
        card-heading: 18px,
        text: 18px,
    )
);

// Mixins

@mixin mobile-only
{
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
};

@mixin tablet-only
{
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
};

// Typography

@font-face
{
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype'),
        url(./fonts/Roboto-Bold.ttf) format('truetype'),
        url(./fonts/Roboto-Light.ttf) format('truetype'),
        url(./fonts/Roboto-Black.ttf) format('truetype');
}

// Layouts

body
{
    margin: 0;
    font-family: 'Roboto';   
}

h1, h2
{
    $font-size: map-get($map: $font-size-list, $key: desktop);
    font-size: map-get($map: $font-size, $key: section-heading);
    @include tablet-only
    {
        $font-size: map-get($map: $font-size-list, $key: tablet);
        font-size: map-get($map: $font-size, $key: section-heading); 
    }
    @include mobile-only
    {
        $font-size: map-get($map: $font-size-list, $key: mobile);
        font-size: map-get($map: $font-size, $key: section-heading);
    }
}

h3
{
    $font-size: map-get($map: $font-size-list, $key: desktop);
    font-size: map-get($map: $font-size, $key: card-heading);
    @include tablet-only
    {
        $font-size: map-get($map: $font-size-list, $key: tablet);
        font-size: map-get($map: $font-size, $key: card-heading); 
    }
    @include mobile-only
    {
        $font-size: map-get($map: $font-size-list, $key: mobile);
        font-size: map-get($map: $font-size, $key: card-heading);
    }

}

p, input, button
{
    $font-size: map-get($map: $font-size-list, $key: desktop);
    font-size: map-get($map: $font-size, $key: text);
    @include tablet-only
    {
        $font-size: map-get($map: $font-size-list, $key: tablet);
        font-size: map-get($map: $font-size, $key: text); 
    }
    @include mobile-only
    {
        $font-size: map-get($map: $font-size-list, $key: mobile);
        font-size: map-get($map: $font-size, $key: text);
    }
}

input, button
{
    background: transparent;
    border: none;
    outline: none;
}

header
{
    position: relative;
    box-shadow: 0 1px 5px darken($gray-color, 25%);
}

.header
{
    &__logo
    {
        height: 50px;
        margin: 1.5rem 0 1rem 0;
        @include tablet-only
        {
            height: 30px;
            margin: 1rem 0 0.5rem 0;
        }
        object-fit: contain;
        width: 100%;
        
    }
}

.search
{
    padding: 1rem 1rem;
    background: $gray-color;
    text-align: center;
    box-shadow: inset 0 3px 5px $gray-color;
    &__form
    {
        width: 175px;
        margin: auto;
        display: flex;
    }
    &__label
    {
        padding: 0 1rem 0 0;
    }
    &__text
    {
        font-family: 'Roboto';
        font-weight: 500;
        &:focus
        {
            border: none;
        }
    }
    
}

.description
{
    background-color: $lightgray-color;
    text-align: center;
    padding: 3rem 1rem 3.5rem 1rem;
    @include tablet-only()
    {
       padding: 2.5rem 1rem 3rem 1rem; 
    }

    line-height: 1.1;
    &__heading
    {
        margin: 0;
        font-weight: bold;
    }
    &__text
    {
        font-weight: 300;
        font-size: 18px;
        margin: 1rem 0 2rem 0;
    }
    &__button
    {
        padding: 1rem 1.5rem;
        border-radius: 25px;
        background: linear-gradient(170deg, $secondary-color, $primary-color);
        box-shadow: 0 5px 7px darken($gray-color, 15%);
        color: $white-color;
        font-family: 'Roboto';
        &:active
        {
            background: linear-gradient(170deg, lighten($secondary-color, 5%), lighten($primary-color, 5%));
            box-shadow: 0 5px 7px darken($gray-color, 25%);
        }
    }
}

.how-to
{
   
    padding: 3rem 2rem 4rem 2rem;
    @include mobile-only()
    {
        padding: 3rem 1rem 4rem 1rem;
    }
    &__heading
    {
        margin: 0 0 0 1rem;
        @include tablet-only()
        {
            margin: 0;
        }
    }
    &__list
    {
        margin: auto;
        padding-left: 0.5rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1300px;
    }
}

.step
{
    width: 100%;
    height: 80px;
    max-width: 335px;
    background-color: $lightgray-color;
    box-shadow: 0 5px 10px darken($lightgray-color, 10%);
    border-radius: 20px;
    position: relative;
    margin: 3rem 1rem 4rem 1rem;
    @include tablet-only()
    {
        margin: 2rem 1rem 0 1rem;
    }
    @include mobile-only()
    {
        margin: 1.5rem 0 0 0;
    }
    &__position
    {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 30px; // (step height - number height) / 2
        left: -10px;
        border-radius: 13px;
        background-color: $primary-color;
        color: $white-color;
    }
    &__number
    {
        margin-top: 2px;
    }
    &__icon
    {
        position: absolute;
        left: 2.5rem;
        top: 32px;
        font-size: 18px; // (step height - font-size) / 2
        color: darken($gray-color, 40%);
    }
    &:active
    {
        background-color: lighten($primary-color, 35%);
        box-shadow: 0 5px 10px darken($lightgray-color, 20%);
        .step__icon
        {
            color: lighten($primary-color, 5%);
        }
    }
}

.preview
{
    background-color: $lightgray-color;
    padding: 3rem 2rem 4rem 2rem;
    @include mobile-only()
    {
        padding: 3rem 1rem 4rem 1rem;
    }
    &__heading
    {
        margin: 0 0 0 1rem;
        @include tablet-only()
        {
            margin: 0;
        }
    }
    &__list
    {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1100px;
        @include tablet-only()
        {
            max-width: 900px;
        }
    }
}

.menu
{
    width: 100%;
    height: 300px;
    max-width: 400px;
    @include tablet-only()
    {
        height: 250px;
        max-width: 335px;  
    }
    background-color: $white-color;
    box-shadow: 0 5px 10px darken($lightgray-color, 10%);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 3rem 3rem 4rem 3rem;
    @include tablet-only()
    {
        margin: 3rem 3rem 1rem 3rem;
    }
    @include mobile-only()
    {
        margin: 1.5rem 0 0 0;
    }
    &__display
    {
        height: 220px;
        @include tablet-only()
    {
        height: 175px;
    }
        overflow: hidden;
    }
    &__image
    {
        width: 100%;
        transform: translate(0, -30px);
    }
    &__bottom
    {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0 0.8rem;
    }
    &__name
    {
        margin: 0;
    }
    &__description
    {
        margin: 0.2rem 0 0 0;
    }
    &__like
    {
        display: inline-block;
        padding: 0;
        height: max-content;
        width: max-content;
        margin: 0.3rem 0.5rem 0 0;
    }
}

.fa-heart
{
    display: inline-block;
    color: $darkgray-color;
    font-size: 22px;
    padding: 0 0.1rem;
    position: relative;
    &--small
    {
        content: "";
        position: absolute;
        font-size: 20px;
        color: $white-color;
        padding: 0;
        top: 1px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:active
    {
        background: -webkit-linear-gradient($primary-color 0%, $secondary-color 75%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*box-sizing: border-box;
        display: inline-block;
        height: 14px;
        width: 14px;
        position: relative;
        background-color: $white-color;
        border: solid 2px $darkgray-color;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        &:before
        {
            box-sizing: border-box;
            content: "";
            position: absolute;
            border-radius: 14px 14px 0 0;
            width: 13.6px;
            height: 10px;
            top: -8px;
            left: 0.4px;
            background-color: $white-color;
            border: solid 2px $darkgray-color;
            border-bottom: none;
        }
        &:after
        {
            box-sizing: border-box;
            content: "";
            position: absolute;
            border-radius: 14px 0 0 14px;
            width: 10px;
            height: 13.6px;
            top: 0.4px;
            left: -8px;
            background-color: $white-color;
            border: solid 2px $darkgray-color;
            border-right: none;
        }
        &:hover
        {
            background: linear-gradient(-45deg, $secondary-color, $primary-color);
        }*/
}

.new-message
{
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 65px;
    border-radius: 3px;
    padding: 0.3rem;
    background: $tertiary-color;
    text-align: center;
    &__text
    {
        margin: 0;
        color: darken($color: $tertiary-color, $amount: 40%);
        font-size: 14px;
    }
}

footer
{
    padding: 1.5rem;
    background: $darkgray-color;
}

.footer
{
    &__logo
    {
        height: 18px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    &__icon
    {
        float: left;
        font-size: 12px;
        transform: translateY(4px);
    }
}

footer ul
{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: $white-color;
    line-height: 1.6;
}

span+li
{
    padding-left: 1.5rem;
}


        
    
    
